
    <div class="col-md-12 nopadding">
      <div class="header-section white white-dropdowns style1 links-white pin-style">
        <div class="container">
          <div class="mod-menu">
            <div class="row">
              <div class="col-sm-2"> <a href="index.html" title="" class="logo style-1 mar-4"> <img src="assets/images/logo/logo.png" alt=""> </a> </div>
              <div class="col-sm-10">
                <div class="main-nav">
                  <ul class="nav navbar-nav top-nav">
                    <li class="search-parent"> <a href="javascript:void(0)" title=""><i aria-hidden="true" class="fa fa-search"></i></a>
                      <div class="search-box ">
                        <div class="content">
                          <div class="form-control">
                            <input type="text" placeholder="Type to search" />
                            <a href="#" class="search-btn mar-1"><i aria-hidden="true" class="fa fa-search"></i></a> </div>
                          <a href="#" class="close-btn mar-1">x</a> </div>
                      </div>
                    </li>
                    <li class="cart-parent"> <a href="javascript:void(0)" title=""> <i aria-hidden="true" class="fa fa-shopping-cart"></i> <span class="number mar2"> 4 </span> </a>
                      <div class="cart-box">
                        <div class="content">
                          <div class="row">
                            <div class="col-xs-8"> 2 item(s) </div>
                            <div class="col-xs-4 text-right"> <span>$99</span> </div>
                          </div>
                          <ul>
                            <li> <img src="images/cart-img1.jpg" alt=""> Jean & Teashirt <span>$30</span> <a href="#" title="" class="close-btn">x</a> </li>
                            <li> <img src="images/cart-img2.jpg" alt=""> Jean & Teashirt <span>$30</span> <a href="#" title="" class="close-btn">x</a> </li>
                          </ul>
                          <div class="row">
                            <div class="col-xs-6"> <a href="#" title="View Cart" class="btn btn-block btn-warning">View Cart</a> </div>
                            <div class="col-xs-6"> <a href="#" title="Check out" class="btn btn-block btn-primary">Check out</a> </div>
                          </div>
                        </div>
                      </div>
                    </li>


                      <!--menu List-->
                <li class="visible-xs menu-icon"> <a href="javascript:void(0)" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false"> <i aria-hidden="true" class="fa fa-bars"></i> </a> </li>
                </ul>
                     <div id="menu" class="collapse">
                       <ul class="nav navbar-nav">
                         <li class="right "> <a routerLink="/home">Home</a> <span class="arrow"></span>
                            <ul class="dm-align-2">
                                
                            </ul>
                          </li>
                          
                          <li class="mega-menu">  <a href="portfolio-full-width.html">Product</a> <span class="arrow"></span>
                            <ul>
                              <li> <a href="#" title="home samples">Stationaries</a> <span class="arrow"></span>
                                <ul>
                                  <app-stationary-products>
                                  </app-stationary-products>
                                </ul>
                              </li>
                              <li> <a href="#">Accessories/Gifts</a> <span class="arrow"></span>
                                <ul>
                                  <app-accesories-products> </app-accesories-products>
                                </ul>
                              </li>
                              <li> <a href="#">Collections</a> <span class="arrow"></span>
                                <ul>
                                  <app-collections-products></app-collections-products>
                                </ul>
                              </li>
                              
                            </ul>
                          </li>
                          

                          

                          <li class="right"> <a href="#">ComBos</a> <span class="arrow"></span>
                            <ul class="dm-align-2">
                            
                            <app-combos></app-combos>
                            </ul>
                          </li>
                          <li class="right"> <a href="#">About Us</a> <span class="arrow"></span>
                            <!-- <ul>
                             <li> <a href="shop-full-width.html">Full Width</a> </li>
                              <li> <a href="shop-left-sidebar.html">Left Sidebar</a> </li>
                               <li> <a href="shop-3-columns.html">Three Column</a> </li>
                               <li> <a href="shop-single-full-width.html">Product Preview</a> </li>
                               <li> <a href="shop-single-left-sidebar.html">Preview Sidebar</a> </li>
                                   
                            </ul>-->
                          </li> 
                         <li class="right"> <a routerLink="account/login" ><span class="glyphicon glyphicon-user"></span></a> <span class="arrow"></span>
                        <ul>
                          <li>New customer?<a routerLink="account/register">sign up</a> </li>
                          <li> <a href="#">My Profile</a> </li>
                           <li> <a href="#">My orders</a> </li>
                          
                         

                        </ul>
                        </li>
                      

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>   
           <!--end menu--> 
           <div class="clearfix"></div>
           

    </div>
  

    
  

 <!--Slider-->
 
 <section class="section-side-image clearfix">
  <section class="sec-padding">
    <div class="container">
    <div class="row">
    
    <div class="col-md-12 nopadding">
    
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="sp-feature-box-3 margin-bottom">
        <div class="img-box"> <a routerLink = "/ProductPreview" class="view-btn uppercase">View</a>
          <div class="badge">Hot</div>
          <img src="assets/images/sp-23.jpg" alt="" class="img-responsive"/> </div>
        <div class="clearfix"></div>
        <br/>
        <h4 class="less-mar-1">Men's Formal</h4>
        <p>Lorem ipsum dolor sit amet</p>
        <h5 class="text-primary">$ 25.00–$ 29.00</h5>
        <br/>
        <a class="btn btn-border light btn-small" href="#">Add to cart</a> </div>
    </div>
    <!--end item-->
            
              <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="sp-feature-box-3 margin-bottom">
                <div class="img-box"> <a href="#" class="view-btn uppercase">View</a>
                  <div class="badge">Hot</div>
                  <img src="assets/images/sp-24.jpg" alt="" class="img-responsive"/> </div>
                <div class="clearfix"></div>
                <br/>
                <h4 class="less-mar-1">Men's Casual</h4>
                <p>Lorem ipsum dolor sit amet</p>
                <h5 class="text-primary">$ 25.00–$ 29.00</h5>
                <br/>
                <a class="btn btn-border light btn-small" href="#">Add to cart</a> </div>
            </div>
            <!--end item-->
  
  
          <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="sp-feature-box-3 margin-bottom">
                <div class="img-box"> <a href="#" class="view-btn uppercase">View</a> <img src="assets/images/sp-25.jpg" alt="" class="img-responsive"/> </div>
                <div class="clearfix"></div>
                <br/>
                <h4 class="less-mar-1">Leather Bag</h4>
                <p>Lorem ipsum dolor sit amet</p>
                <h5 class="text-primary">$ 25.00–$ 29.00</h5>
                <br/>
                <a class="btn btn-border light btn-small" href="#">Add to cart</a> </div>
            </div>
            <!--end item-->
  
  
          <div class="clearfix"></div>
          <div class="col-divider-margin-4"></div>
          
                    
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="sp-feature-box-3 margin-bottom">
                <div class="img-box"> <a href="#" class="view-btn uppercase">View</a>
                  <div class="badge">New</div>
                  <img src="assets/images/sp-26.jpg" alt="" class="img-responsive"/> </div>
                <div class="clearfix"></div>
                <br/>
                <h4 class="less-mar-1">Winter Coat</h4>
                <p>Lorem ipsum dolor sit amet</p>
                <h5 class="text-primary">$ 25.00–$ 29.00</h5>
                <br/>
                <a class="btn btn-border light btn-small" href="#">Add to cart</a> </div>
            </div>
            <!--end item-->
            
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="sp-feature-box-3 margin-bottom">
                <div class="img-box"> <a href="#" class="view-btn uppercase">View</a>
                  <img src="assets/images/sp-27.jpg" alt="" class="img-responsive"/> </div>
                <div class="clearfix"></div>
                <br/>
                <h4 class="less-mar-1">Leather Shoe</h4>
                <p>Lorem ipsum dolor sit amet</p>
                <h5 class="text-primary">$ 25.00–$ 29.00</h5>
                <br/>
                <a class="btn btn-border light btn-small" href="#">Add to cart</a> </div>
            </div>
            <!--end item-->
            
            
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="sp-feature-box-3 margin-bottom">
                <div class="img-box"> <a href="#" class="view-btn uppercase">View</a>
                  <div class="badge">New</div>
                  <img src="assets/images/sp-28.jpg" alt="" class="img-responsive"/> </div>
                <div class="clearfix"></div>
                <br/>
                <h4 class="less-mar-1">Casual Shoes</h4>
                <p>Lorem ipsum dolor sit amet</p>
                <h5 class="text-primary">$ 25.00–$ 29.00</h5>
                <br/>
                <a class="btn btn-border light btn-small" href="#">Add to cart</a> </div>
            </div>
            <!--end item-->
  
    </div>
    <!--end column -->
    
  
    
    </div>
    </div>
    </section>
  <div class="clearfix"></div>
    <!-- end section -->
    
  
  
</section>

<div class=" clearfix"></div>
 

      

  
      <!--Copyright content-->

 
  
  <div class="clearfix"></div>
  <!-- end section --> 
 
  <div class="clearfix"></div>
  <!-- end section --> 
  
  <a href="#" class="scrollup"><i class="fa fa-angle-up" aria-hidden="true"></i></a>

<router-outlet></router-outlet>