
    <div class="col-md-12 nopadding">
      <div class="header-section white white-dropdowns style1 links-white pin-style">
        <div class="container">
          <div class="mod-menu">
            <div class="row">
              <div class="col-sm-2"> <a href="index.html" title="" class="logo style-1 mar-4"> <img src="assets/images/logo/logo.png" alt=""> </a> </div>
              <div class="col-sm-10">
                <div class="main-nav">
                  <ul class="nav navbar-nav top-nav">
                    <li class= {{mysearch}} > <a href ="javascript:void(0)" (click) = "mysearchfun()"title=""><i aria-hidden="true" class="fa fa-search"></i></a>
                      <div class="search-box ">
                        <div class="content">
                          <div class="form-control">
                            <input type="text" placeholder="Type to search" />
                            <a href="#" class="search-btn mar-1"><i aria-hidden="true" class="fa fa-search"></i></a> </div>
                          <a href="#" class="close-btn mar-1">x</a> </div>
                      </div>
                    </li>
                    <li class= {{mycart}}> <a href="javascript:void(0)" (click) = "mycartfun()" title=""> <i aria-hidden="true" class="fa fa-shopping-cart"></i> <span class="number mar2"> {{carts.length}} </span> </a>
                      <div class="cart-box">
                        <div class="container">
                          <div class="row">
                            <div class="col-xs-8"> {{carts.length}} item(s) </div>
                            <div class="col-xs-4 text-right" > <span>$99</span> </div>
                          </div>
                          <ng-template [ngIf]="carts.length>0"[ngIfElse]="noItem">
                          
                          <ul class =list >
                            <div class="list-group" *ngFor="let product of carts; let  indexOfCart=index">
                            <li > <img src="assets/images/cart-img1.jpg" alt=""> Jean & Teashirt <span>$30</span> 
                             <a href="javascript:void(0)" (click) = "removeFromCart(product)" title="" class="close-btn">x</a> </li>
                            </div>
                          </ul>
                        
                        </ng-template>
                          <ng-template #noItem>
                          <ul class = "list-nogroup" >
                            <li > Dont want add products happy shopping </li>
                          </ul>
                        </ng-template>
                          <div class="row">
                            <div class="col-xs-6"> <a href="/Cart" title="View Cart" class="btn btn-block btn-warning ">View Cart</a> </div>
                            <div class="col-xs-6"> <a routerLink="/checkout" title="Check out" class="btn btn-block btn-primary">Check out</a> </div>
                          </div>
                        </div>
                      </div>
                    </li>


                      <!--menu List-->
                <li class="visible-xs menu-icon"> <a href="javascript:void(0)" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false"> <i aria-hidden="true" class="fa fa-bars"></i> </a> </li>
                </ul>
                     <div id="menu" class="collapse">
                       <ul class="nav navbar-nav">
                         <li class="right "> <a routerLink="/home">Home</a> <span class="arrow"></span>
                            <ul class="dm-align-2">
                                
                            </ul>
                          </li>
                          
                          <li class="mega-menu">  <a href="portfolio-full-width.html">Product</a> <span class="arrow"></span>
                            <ul>
                              <li> <a href="#" title="home samples">Stationaries</a> <span class="arrow"></span>
                                <ul>
                                  <app-stationary-products>
                                  </app-stationary-products>
                                </ul>
                              </li>
                              <li> <a href="#">Accessories/Gifts</a> <span class="arrow"></span>
                                <ul>
                                  <app-accesories-products> </app-accesories-products>
                                </ul>
                              </li>
                              <li> <a href="#">Collections</a> <span class="arrow"></span>
                                <ul>
                                  <app-collections-products></app-collections-products>
                                </ul>
                              </li>
                              
                            </ul>
                          </li>
                          

                          
                            
                          
                          <li class="right"> <a href="#">ComBos</a> <span class="arrow"></span>
                            
                          </li>  
                          <li class="right"> <a href="#">About Us</a> <span class="arrow"></span>
                            <!-- <ul>
                             <li> <a href="shop-full-width.html">Full Width</a> </li>
                              <li> <a href="shop-left-sidebar.html">Left Sidebar</a> </li>
                               <li> <a href="shop-3-columns.html">Three Column</a> </li>
                               <li> <a href="shop-single-full-width.html">Product Preview</a> </li>
                               <li> <a href="shop-single-left-sidebar.html">Preview Sidebar</a> </li>
                                   
                            </ul>-->
                          </li> 

                         <li class="right"> <a><span class="glyphicon glyphicon-user"></span></a> <span class="arrow"></span>
                        <ul>
						<ng-template [ngIf]="notlogged"[ngIfElse]="loggedin">
                          <li *ngIf="notlogged">New Customer?<a routerLink="account/register">Sign Up</a> </li>
                          <li *ngIf="notlogged"> <a routerLink="account/login">login</a> </li>
                        </ng-template>
                        <ng-template #loggedin>
                          <li> <a routerLink="users/useraddress">My Profile</a> </li>
                          <li> <a href="#">My orders</a> </li>
                          <li> <a (click)="logout()">Logout</a> </li> 
                        </ng-template> 

                        </ul>
                        </li>


                        
                      

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>   
           <!--end menu--> 
           <div class="clearfix"></div>
          
           <hr class="new1">
        
    </div>
  

    
  

 <!--Slider-->
 
 <!--Copyright content-->

 
  
  <div class="clearfix"></div>
  <!-- end section --> 
 
 
  
  <a href="#" class="scrollup"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
  


<!-- end section -->
 