<div class="container">
    {{product.id}}
    <div class="row">

        <div class="col-md-8">

            <h4>FAQ</h4>
            <div class="col-md-12 nopadding">
                <div class="accordion_head"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Product Tag<span
                        class="plusminus">+</span>

                </div>
                <div class="accordion_body" style="display: none;">
                    <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList aria-label="Product Tags">

                            <input placeholder="Add Tags..." [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="addTag($event)">
                        </mat-chip-list>
                        <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                            (removed)="removeTag(tag)">
                            {{tag}}
                            <mat-icon matChipRemove *ngIf="removable"><span
                                    class="glyphicon glyphicon-remove-sign"></span></mat-icon>
                        </mat-chip>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="submitTag()" type="submit">submit</button>
                </div>
                <div class="accordion_head"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Product
                    Description<span class="plusminus">+</span>

                </div>
                <div class="accordion_body" style="display: none;">
                    <mat-form-field class="inventory-input">
                        <mat-label>Product Description</mat-label>
                        <input matInput #message [(ngModel)]="productDesc" maxlength="256"
                            placeholder="Ex. Full description about product...">
                        <mat-hint align="start"><strong>Description of product</strong> </mat-hint>
                        <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                        <!-- <mat-error *ngIf="f.description.touched && f.description.invalid"> -->
                        <mat-error *ngIf="productDesc ==''">
                            Product Description is <strong>Required</strong>
                        </mat-error>
                        <!-- </mat-error> -->
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="submitDesc()" type="submit">submit</button>

                </div>
                <div class="accordion_head"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Product Price<span
                        class="plusminus">+</span>

                </div>
                <div class="accordion_body" style="display: none;">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis
                        commodo augue Aliquam ornare hendrerit augue Cras tellus In pulvinar lectus a est Curabitur eget
                        orci Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus orci
                        luctus et ultrices posuere cubilia Curae Nullam tellus diam volutpat laoreet vel bibendum in
                        nibh Donec elit lectus pharetra quis vulputate in lobortis at mi Donec libero purus pulvinar ac
                        congue id iaculis ut est. </p>
                </div>




                <div class="accordion_head"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Product Image<span
                        class="plusminus">+</span>

                </div>
                <div class="accordion_body" style="display: none;">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis
                        commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur
                        eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus
                        orci luctus et ultrices posuere cubilia Curae; Nullam tellus diam, volutpat a, laoreet vel,
                        bibendum in, nibh. Donec elit lectus, pharetra quis, vulputate in, lobortis at, mi. Donec libero
                        purus, pulvinar ac, congue id, iaculis ut, est. </p>
                </div>


                <div class="accordion_head"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Product
                    Availability<span class="plusminus">+</span>

                </div>
                <div class="accordion_body" style="display: none;">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis
                        commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur
                        eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus
                        orci luctus et ultrices posuere cubilia Curae; Nullam tellus diam, volutpat a, laoreet vel,
                        bibendum in, nibh. Donec elit lectus, pharetra quis, vulputate in, lobortis at, mi. Donec libero
                        purus, pulvinar ac, congue id, iaculis ut, est. </p>
                </div>




                <div class="accordion_head"><i class="fa fa-pencil" aria-hidden="true"></i> Delete Product<span
                        class="plusminus">+</span>

                </div>
                <div class="accordion_body" style="display: none;">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis
                        commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur
                        eget orci. Cras laoreet ligula. Etiam sit amet dolor. Vestibulum ante ipsum primis in faucibus
                        orci luctus et ultrices posuere cubilia Curae; Nullam tellus diam, volutpat a, laoreet vel,
                        bibendum in, nibh. Donec elit lectus, pharetra quis, vulputate in, lobortis at, mi. Donec libero
                        purus, pulvinar ac, congue id, iaculis ut, est. </p>
                </div>






            </div>
        </div>
    </div>

</div>