<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
  

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="address">Address-1</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="address">Address-2</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col">
            <label for="city">City</label>
            <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                <div *ngIf="f.city.errors.required">City is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="country">Country: </label>
        
                <select formControlName="country" class="form-control" >
                  <option value="">Select country...</option>
                  <option *ngFor="let country of country" [value]="country.id">{{ country.name }}</option>
                </select>
                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">country is required</div>
               </div>
        </div>
        
        <div class="form-group col">
            <label for="country">State: </label>
        
                <select formControlName="country" class="form-control" >
                  <option value="">Select State...</option>
                  <option *ngFor="let country of country" [value]="country.id">{{ country.name }}</option>
                </select>
                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                <div *ngIf="f.country.errors.required">country is required</div>
               </div>
        </div>

 </div>
  <div class="form-row">


   
      <div class="form-group col">

        <label for="zipcode"> Zipcode/poastalcode  </label>
            <input type="text" formControlName="zipcode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" />
            <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
            <div *ngIf="f.zipcode.errors.required">Zipcode is required</div>
            </div>
     </div>

    
     <div class="form-group col">

        <label for="mobno"> Phone Number :  </label>
            <input type="text" formControlName="mobno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobno.errors }" />
            <div *ngIf="submitted && f.mobno.errors" class="invalid-feedback">
            <div *ngIf="f.mobno.errors.required">Phone Number is required</div>
            </div>
     </div>
</div>
 
<!-- <div class="form-row">

    <label>
      <input type="checkbox" />
      Default Address
    </label>
  
</div> -->


    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Update
        </button>
        <a routerLink="/home" class="btn btn-link">Cancel</a>
    </div>
</form>