<li> <a routerLink="/product/{{Wristbands}}"><i class="fa fa-angle-right"></i> &nbsp; Wrist Bands</a> </li>
<li> <a routerLink="/product/{{PinBadges}}"><i class="fa fa-angle-right"></i> &nbsp; Pin Badges</a> </li>
<li> <a routerLink="/product/{{Mugs}}"><i class="fa fa-angle-right"></i> &nbsp; Mug</a> </li>
<li> <a routerLink="/product/{{Mobilecase}}"><i class="fa fa-angle-right"></i> &nbsp; Mobile Case</a> </li>
<li> <a routerLink="/product/{{photoFrames}}"><i class="fa fa-angle-right"></i> &nbsp; Photo Frames</a> </li>
<li> <a routerLink="/product/{{Keychains}}"><i class="fa fa-angle-right"></i> &nbsp; KeyChains</a> </li>
<li> <a routerLink="/product/{{PopSockets}}"><i class="fa fa-angle-right"></i> &nbsp; Pop Sockets</a> </li>