<li> <a routerLink="ProductAccessories"><i class="fa fa-angle-right"></i> &nbsp; Wristband</a> </li>
<li> <a routerLink="ProductAccessories"><i class="fa fa-angle-right"></i> &nbsp; Pin Badges</a> </li>
<li> <a routerLink="ProductAccessories"><i class="fa fa-angle-right"></i> &nbsp; Mug</a> </li>
 <li> <a routerLink="ProductAccessories"><i class="fa fa-angle-right"></i> &nbsp; Mobile Case</a> </li>
<li> <a routerLink="ProductAccessories"><i class="fa fa-angle-right"></i> &nbsp; Photo Frames</a> </li>
<li> <a routerLink="ProductAccessories"><i class="fa fa-angle-right"></i> &nbsp; KeyChains</a> </li>
<li> <a routerLink="ProductAccessories"><i class="fa fa-angle-right"></i> &nbsp; Pop Sockets</a> </li>
