<!--Testimonials-->
 <section class="sec-padding section-bgimg-11">
  <div class="container">
    <div class="row">

 <div class="col-md-3 col-sm-12 col-xs-12">
  <div class="ce-feature-box-21 active margin-bottom">
    <p class="small-text">22 November 2017</p>
    <h5 class="font-weight-5 title">Vestibulum ante ipsum primis</h5>
    <p class="content">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo.</p>
    <br/>
    <div class="divider-line solid light"></div>
    <br/>
    <div class="imgbox-xtiny left round overflow-hidden"><img src="images/19.jpg" alt="" class="img-responsive"/></div>
    <div class="text-box-right less-padding author">Margaret</div>
  </div>
</div>
<!--end item-->

<div class="col-md-3 col-sm-12 col-xs-12">
  <div class="ce-feature-box-21 margin-bottom">
    <p class="small-text">22 November 2017</p>
    <h5 class="font-weight-5 title">Donec libero purus pulvinar ac congue</h5>
    <p class="content">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo.</p>
    <br/>
    <div class="divider-line solid light"></div>
    <br/>
    <div class="imgbox-xtiny left round overflow-hidden"><img src="images/18.jpg" alt="" class="img-responsive"/></div>
    <div class="text-box-right less-padding author">Benjamin</div>
  </div>
</div> 
<!--end item-->

<div class="col-md-3 col-sm-12 col-xs-12">
  <div class="ce-feature-box-21 margin-bottom">
    <p class="small-text">22 November 2017</p>
    <h5 class="font-weight-5 title">Morbi euismod nulla aliquet felis Sed</h5>
    <p class="content">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo.</p>
    <br/>
    <div class="divider-line solid light"></div>
    <br/>
    <div class="imgbox-xtiny left round overflow-hidden"><img src="images/4.jpg" alt="" class="img-responsive"/></div>
    <div class="text-box-right less-padding author">Jennifer</div>
  </div>
</div>
<!--end item--> 

</div>
          
</div>
</section> 
<!--testmonial vdos end -->
  
