<app-slider>
  
</app-slider>
<section class="sec-padding">
  <div class="container">
    <div class="row">
      <div class="domain-pricing-table">
        <table class="table-style-2">
          <thead>
            <tr>
              <th>Image</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Pricing Unit</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
                              <img src="assets/images/cart-img1.jpg" alt="" class="img-responsive"/> 
                              
              
              <td>$4.99</td>
              <td>$6.99</td>
              <td>Free</td>
              <td>$5.99</td>
              <td><a class="btn btn-gyellow btn-round pull-right" href="#">CheckOut</a></td>
            </tr>
            <tr>
              <img src="assets/images/cart-img1.jpg" alt="" class="img-responsive"/> 
              <td>$4.99</td>
              <td>$6.99</td>
              <td>Free</td>
              <td>$5.99</td>
              <td><a class="btn btn-gyellow btn-round pull-right" href="#">CheckOut</a></td>
            </tr>
            <tr>
              <img src="assets/images/cart-img1.jpg" alt="" class="img-responsive"/> 
              <td>$4.99</td>
              <td>$6.99</td>
              <td>Free</td>
              <td>$5.99</td>
               <td><a class="btn btn-gyellow btn-round pull-right" href="#">CheckOut</a></td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <li class= cart-parent> 
    <div class="cart-box">
      <div class="container">
        <div class="row">
          <div class="col-xs-8"> 2 item(s) </div>
          <div class="col-xs-4 text-right"> <span>$99</span> </div>
        </div>
        <ul class = "list-group">
          <li> <img src="assets/images/sp-28.jpg" alt=""> Jean & Teashirt <span>$30</span> <a href="#" title="" class="close-btn">x</a> </li>
          <li> <img src="assets/images/sp-28.jpg" alt=""> Jean & Teashirt <span>$30</span> <a href="#" title="" class="close-btn">x</a> </li>
        </ul>
        <div class="row">
          <div class="col-xs-6"> <a href="#" title="Check out" class="btn btn-block btn-primary">Check out</a> </div>
        </div>
      </div>
    </div>
  </li>
</section>