<div class="wrapper-boxed">
  <div class="site-wrapper">
    
    <div class="col-md-12 nopadding">
      <div class="header-section white dark-dropdowns style1 links-dark pin-style">
        <div class="container">
            <div class="row">
              <div class="col-sm-2"> <a href="index.html" title="" class="logo style-2 mar-4"> <img src="assets/images/logo/logo-dark.png" alt=""> </a> </div>
              <div class="col-sm-10">
                <div class="main-nav">
                  <ul class="nav navbar-nav top-nav">
                    <li class="search-parent"> <a href="javascript:void(0)" title=""><i aria-hidden="true" class="fa fa-search"></i></a>
                      <div class="search-box ">
                        <div class="content">
                          <div class="form-control">
                            <input type="text" placeholder="Type to search">
                            <a href="#" class="search-btn mar-1"><i aria-hidden="true" class="fa fa-search"></i></a> </div>
                          <a href="#" class="close-btn mar-1">x</a> </div>
                      </div>
                    </li>
                    <li class="cart-parent"> <a href="javascript:void(0)" title=""> <i aria-hidden="true" class="fa fa-shopping-cart"></i> <span class="number mar2"> 4 </span> </a>
                      <div class="cart-box">
                        <div class="content">
                          <div class="row">
                            <div class="col-xs-8"> 2 item(s) </div>
                            <div class="col-xs-4 text-right"> <span>$99</span> </div>
                          </div>
                          <ul>
                            <li> <img src="assets/images/cart-img1.jpg" alt=""> Jean & Teashirt <span>$30</span> <a href="#" title="" class="close-btn">x</a> </li>
                            <li> <img src="assets/images/cart-img2.jpg" alt=""> Jean & Teashirt <span>$30</span> <a href="#" title="" class="close-btn">x</a> </li>
                          </ul>
                          <div class="row">
                            <div class="col-xs-6"> <a href="#" title="View Cart" class="btn btn-block btn-warning">View Cart</a> </div>
                            <div class="col-xs-6"> <a href="#" title="Check out" class="btn btn-block btn-primary">Check out</a> </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <!--menu List-->
              <li class="visible-xs menu-icon"> <a href="javascript:void(0)" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false"> <i aria-hidden="true" class="fa fa-bars"></i> </a> </li>
              </ul>
                   <div id="menu" class="collapse">
                     <ul class="nav navbar-nav">
                       <li class="right active"> <a href="#">Home</a> <span class="arrow"></span>
                          <ul class="dm-align-2">
                              <app-home></app-home>
                          </ul>
                        </li>
                        
                        <li class="mega-menu">  <a href="portfolio-full-width.html">Product</a> <span class="arrow"></span>
                          <ul>
                            <li> <a href="#" title="home samples">Stationaries</a> <span class="arrow"></span>
                              <ul>
                                <app-stationary-products>

                                </app-stationary-products>
                              </ul>
                            </li>
                            <li> <a href="#">Accessories/Gifts</a> <span class="arrow"></span>
                              <ul>
                                <app-accesories-products> </app-accesories-products>
                              </ul>
                            </li>
                            <li> <a href="#">Collections</a> <span class="arrow"></span>
                              <ul>
                                <app-collections-products></app-collections-products>
                              </ul>
                            </li>
                            
                          </ul>
                        </li>
                        

                        

                        <li class="right"> <a href="#">ComBos</a> <span class="arrow"></span>
                          <ul class="dm-align-2">
                          
                          <app-combos></app-combos>
                          </ul>
                        </li>
                        <li class="right"> <a href="#aboutusone">About Us</a> <span class="arrow"></span>
                          <!-- <ul>
                           <li> <a href="shop-full-width.html">Full Width</a> </li>
                            <li> <a href="shop-left-sidebar.html">Left Sidebar</a> </li>
                             <li> <a href="shop-3-columns.html">Three Column</a> </li>
                             <li> <a href="shop-single-full-width.html">Product Preview</a> </li>
                             <li> <a href="shop-single-left-sidebar.html">Preview Sidebar</a> </li>
                                 
                          </ul>-->
                        </li>
                       




                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>   
         <!--end menu--> 
         <div class="clearfix">
           
           <!-- START REVOLUTION SLIDER 5.0 -->
    <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;"> 
      <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
      <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
             <ul>

             <app-slider></app-slider>
             </ul>
          <div class="tp-static-layers"></div>
          <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
        </div>
    </div>

    <!--slider-end-->
  
<div class="clearfix"></div>
<section class="sec-padding">
    <div class="wrapper-boxed">
      <div class="site-wrapper">
        
          
            <div class="container">
              
                          <div class="cart-box">
                            <div class="content">
                              <div class="row">
                                <div class="col-xs-8"> 2 item(s) </div>
                                <div class="col-xs-4 text-right"> <span>$99</span> </div>
                              </div>
                              <section class = "sec-padding">
                              <ul>
                                <li> <img src="assets/images/cart-img1.jpg" alt=""> Jean & Teashirt <span>$30</span> <a href="#" title="" class="close-btn">x</a> </li>
                                <li> <img src="assets/images/cart-img2.jpg" alt=""> Jean & Teashirt <span>$30</span> <a href="#" title="" class="close-btn">x</a> </li>
                              </ul>
                            </section>
                              <div class="row">
                                <div class="col-xs-6"> <a routerLink = "/Cart" title="View Cart" class="btn btn-block btn-warning">View Cart</a> </div>
                                <div class="col-xs-6"> <a href="#" title="Check out" class="btn btn-block btn-primary">Check out</a> </div>
                              </div>
                              
                            </div>
                          </div>
                        
               
     
        
      
      <!--end site wrapper--> 
    </div>
  
    </div>
    </div>
    
  </section>
  <div class="sec-padding section-dark">
    <div class="container">
      <app-footer></app-footer>
    </div>
</div>

<section id = "aboutus" class="sec-padding-6">
  <div class="container">
    <!--Copyright content-->


</div> 

</section>
