<section class="sec-padding">
  <div class="container">

    <ng-template [ngIf]="cartAvailable" [ngIfElse]="cartIsEmpty">
      <div class="row">

        <div class="domain-pricing-table">
          <table class="table-style-2">
            <thead>
              <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Pricing</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let product of carts.products; let  indexOfCart=index"> -->
              <tr *ngFor="let product of cartProduct; let  indexOfCart=index">
                <img src="assets/images/sp-23.jpg" alt="" width="70" height="60"class="img-responsive" />


                <td>{{product.name}} </td>
                <td>{{product.price}}</td>
                <td>
                  
                    <div class="btn inputbox btn-tiny xround-7">
                      <input type="number" class="product" value="1" />
                    </div> &nbsp;&nbsp;
                  
                  <a href="javascript:void(0)"><span class="fa fa-refresh" style="color: rgb(72, 189, 72);"></span></a> &nbsp;
                  <a href="javascript:void(0)"><span class="fa fa-remove" style="color: rgb(233, 35, 35);"></span></a>
                </td>
                <td>$ {{product.price}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <ng-template [ngIf]="loggedIn" [ngIfElse]="notLoggedIn">
          <a class="btn btn-medium btn-orange btn-anim-2 uppercase xround-4" routerLink='/Checkout'>CheckOut</a>
        </ng-template>
        <ng-template #notLoggedIn>
          <a class="btn btn-medium btn-orange btn-anim-2 uppercase xround-5 pull-right" routerLink='/account/login'>Login </a>
        </ng-template>

      </div>
    </ng-template>
    <ng-template #cartIsEmpty>
      <i>Please add products to cart</i>
    </ng-template>
  </div>