<li> <a routerLink="/product/{{Kollywood}}"><i class="fa fa-angle-right"></i> &nbsp; Kollywood</a> </li>
<li> <a routerLink="/product/{{Hollywood}}"><i class="fa fa-angle-right"></i> &nbsp; Hollywood</a> </li>
<li> <a routerLink="/product/{{ChennaiMania}}"><i class="fa fa-angle-right"></i> &nbsp; Chennai Mania</a> </li>
<li> <a routerLink="/product/{{Friendship}}"><i class="fa fa-angle-right"></i> &nbsp; Friendship</a> </li>
<li> <a routerLink="/product/{{Couple}}"><i class="fa fa-angle-right"></i> &nbsp; Couple</a> </li>