<div class="col-md-12 nopadding">
    <div class="tab-navbar-main tabstyle-9">
      <ul class="responsive-tabs">
        <li><a href="#example-1-tab-6" target="_self"><span class="icon-lock"></span> <br/>
            Support</a></li>
   
        </ul>
    </div>
  </div>




            <div id="example-1-tab-6" class="responsive-tabs-panel">
                <div class="responsive-tab-title ttitle"></div>
                <div class="col-md-7">
                  <div class="tabstyle-9-feature-box-2">
                    <h4 class="uppercase">Support</h4>
                    <h6 class="raleway">Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue</h6>
                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor sit amet consectetuer adipiscing eli Suspendisse et justo sit amet justo elite. </p>
                    <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam ornare hendrerit augue Cras Lorem ipsum dolor. </p>
                    <br/>
                    <a class="read-more" href="#">Read more &nbsp; &nbsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                </div>
                <!--end item-->
                
                <div class="col-md-5">
                  <div class="tabstyle-9-feature-box"> <img src="images/29.jpg" alt="" class="img-responsive"/> </div>
                </div>
                <!--end item--> 
              </div>
