<div class="container">



  <div class="col-md-12 text-center">
    <h4 class="uppercase">Upload Products Here</h4>
  </div>
  <div class="clearfix"></div>
  <br /> <br />
  <!--  -->
  <form [formGroup]="form">
    <div class="form-body bg-light">


      <!--Category Dropdown-->
      <div class="row center">
        <div class="col-md-6">

          <label class="lable-text" for="phone">Select Category</label>
          <div class="select-box-2" Required>
            <select (click)="getCategory($event.target.value)">
              <option value=''>Select Category</option>
              <option value='accessories'>Accessories</option>
              <option value='collections'>Collections</option>
              <option value='stationaries'>Stationaries</option>
            </select>
          </div>

          <!-- <mat-form-field appearance="fill" class="inventory-input">
            <mat-label>Select Category</mat-label>
            <mat-select (click)="getCategory($event.target.value)">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let cat of categoryList" [value]="cat.handle">{{cat.name}}</mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>

        <!--Sub category-->
        <div class="col-md-6">
          <label class="lable-text" for="phone">Select Subcategory</label>
          <div class="select-box-2">
            <select formControlName="subCategoryName" (click)="getSubCategory($event.target.value)"
              class="form-control">
              <option value=''>Select SubCategory</option>
              <ng-template ngFor [ngForOf]="subCategories" let-subCategory>
                <option value='{{subCategory.handle}}'>{{subCategory.name}}</option>
              </ng-template>
            </select>
          </div>
          <!-- <mat-form-field appearance="fill" class="inventory-input">
            <mat-label>Select Sub-Category</mat-label>
            <mat-select>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let subCat of subCategories" [value]="subCat.handle">{{subCat.name}}</mat-option>
            </mat-select>
          </mat-form-field> -->

        </div>
      </div>
      <!-- end row -->
      <br>

      <!--Product Name-->
      <div class="row center">
        <div class="col-md-6">
          <!-- <label class="lable-text" for="name">Product Name</label>
          <input id="name" formControlName="productTitle" [(ngModel)]="title" class="form-control" type="text"
            placeholder="Enter Product Name">
          <br /> -->
          <mat-form-field class="inventory-input">
            <mat-label>Product Name</mat-label>
            <input matInput formControlName="productTitle" [(ngModel)]="title" placeholder="Ex. pat@example.com">
            <mat-hint>Name of the product should be unique!</mat-hint>
            <mat-error *ngIf="f.productTitle.touched && f.productTitle.invalid">
              <mat-error *ngIf="f.productTitle.errors.required">
                Product Title is <strong>Required</strong>
              </mat-error>
              <mat-error *ngIf="f.productTitle.errors.titleValidator">
                Product Title should be unique
              </mat-error>
            </mat-error>

            <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
              Product Name is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="inventory-input">
            <mat-label>Product Description</mat-label>
            <input matInput #message formControlName="description" maxlength="256"
              placeholder="Ex. Full description about product...">
            <mat-hint align="start"><strong>Description of product</strong> </mat-hint>
            <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
            <mat-error *ngIf="f.description.touched && f.description.invalid">
              <mat-error *ngIf="f.description.errors.required">
                Product Description is <strong>Required</strong>
              </mat-error>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label class="lable-text" for="name" style="align-items: center;">Price Varies</label>&nbsp;&nbsp;
          <mat-slide-toggle (click)="priceVariesCheck(priceVariesBoolean)" [checked]="false">
          </mat-slide-toggle>
          {{priceVariesBoolean}}
        </div>


        <div class="col-md-6">
          <label class="lable-text" for="name" style="align-items: center;">Discount Price</label>&nbsp;&nbsp;
          <mat-slide-toggle formControlName="compareAtPriceVaries" (click)="compareAtPriceVaries(compareAtPriceCheck)"
            [checked]="false">
          </mat-slide-toggle>
        </div>
        <br>

      </div>
      <!--Price and Discount-->
      <div class="row">
        <div class="col-md-6">
          <label class="lable-text" for="name">Product Price</label>
          <input id="Price" class="input-1" formControlName="price" type="number" placeholder="Enter product Price"
            name="Price">
          <br />
        </div>

        <div class="col-md-6">
          <label class="lable-text" for="name">Product Discount</label>
          <input id="Price" class="input-1" type="number" formControlName="compareAtPriceMin"
            placeholder="Enter product discount" name="Discount">
          <br />
        </div>
      </div>


      <!--Product Brand-->


      <!--Tags-->
      <div class="row">
        <div class="col-md-10">
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Product Tags">

              <input placeholder="Add Tags..." [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addTag($event)">
            </mat-chip-list>
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
              (removed)="removeTag(tag)">
              {{tag}}
              <mat-icon matChipRemove *ngIf="removable"><span class="glyphicon glyphicon-remove-sign"></span></mat-icon>
            </mat-chip>
          </mat-form-field>
          <br />
        </div>

      </div>
      <!--Quantity-->

      <div class="row">
        <div class="col-md-6">
          <label class="lable-text" for="color">Product Quantity</label>
          <input id="Quantity" class="input-1" type="number" placeholder="Enter product Quantity" name="quantity">
          <br />
        </div>
      </div>
      <br>
      <!--color-->
      <div class="row">
        <div class="col-md-10">
          <mat-form-field class="example-chip-list">
            <mat-chip-list #colorList aria-label="Product Color">

              <input placeholder="Add Color..." [matChipInputFor]="colorList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addColor($event)">
            </mat-chip-list>
            <mat-chip *ngFor="let color of color" [selectable]="selectable" [removable]="removable"
              (removed)="removeColor(color)">
              {{color}}
              <mat-icon matChipRemove *ngIf="removable"><span class="glyphicon glyphicon-remove-sign"></span></mat-icon>
            </mat-chip>
          </mat-form-field>
          <br />
        </div>
      </div>
      <hr>
      <!--Size-->
      <ng-template [ngIf]="collectionCheck">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="uppercase">Select Varient Size</h2>
          </div>

          <div class="col-md-4">

            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Size - S</mat-card-title>
                <mat-card-subtitle>

                  <mat-checkbox formControlName="size1_available" [(ngModel)]="size1Available">Size S Available
                  </mat-checkbox>
                  <br>
                  <mat-slide-toggle formControlName="size1_stock_available" [checked]="size1Available"> Stock
                    Available
                  </mat-slide-toggle>
                </mat-card-subtitle>
              </mat-card-header>
              <ng-template [ngIf]="size1Available" [ngIfElse]="disabledMatContent">
                <mat-card-content>
                  <mat-form-field class="inventory-input">
                    <mat-label>Inventory Quantity</mat-label>
                    <input matInput type="number" disabled formControlName="size1_quantity" placeholder="Ex. 100">
                  </mat-form-field>
                  <mat-form-field class="inventory-input">
                    <mat-label>Product Weight</mat-label>
                    <input matInput formControlName="size1_weight" placeholder="Ex.50">
                  </mat-form-field>
                  <ng-template [ngIf]="priceVariesBoolean" [ngIfElse]="noVariesnew">
                    <mat-form-field class="inventory-input">
                      <mat-label>Product Price</mat-label>
                      <input matInput formControlName="size1_price" placeholder="Ex.550">
                    </mat-form-field>
                  </ng-template>

                </mat-card-content>
              </ng-template>
            </mat-card>
          </div>



          <div class="col-md-4 margin-bottom">

            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Size - M</mat-card-title>
                <mat-card-subtitle>

                  <mat-checkbox formControlName="size2_available" [(ngModel)]="size2Available">Size M Available
                  </mat-checkbox>
                  <br>
                  <mat-slide-toggle formControlName="size2_stock_available" [checked]="size2Available"> Stock
                    Available
                  </mat-slide-toggle>
                </mat-card-subtitle>
              </mat-card-header>
              <ng-template [ngIf]="size2Available" [ngIfElse]="disabledMatContent">
                <mat-card-content>
                  <mat-form-field class="inventory-input">
                    <mat-label>Inventory Quantity</mat-label>
                    <input matInput type="number" disabled formControlName="size2_quantity" placeholder="Ex. 100">
                  </mat-form-field>
                  <mat-form-field class="inventory-input">
                    <mat-label>Product Weight</mat-label>
                    <input matInput formControlName="size2_weight" placeholder="Ex.50">
                  </mat-form-field>
                  <ng-template [ngIf]="priceVariesBoolean" [ngIfElse]="noVariesnew">
                    <mat-form-field class="inventory-input">
                      <mat-label>Product Price</mat-label>
                      <input matInput formControlName="size2_price" placeholder="Ex.550">
                    </mat-form-field>
                  </ng-template>

                </mat-card-content>
              </ng-template>
            </mat-card>
          </div>

          <div class="col-md-4">

            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Size - L</mat-card-title>
                <mat-card-subtitle>

                  <mat-checkbox formControlName="size3_available" [(ngModel)]="size3Available">Size L Available
                  </mat-checkbox>
                  <br>
                  <mat-slide-toggle formControlName="size3_stock_available" [checked]="size3Available"> Stock Available
                  </mat-slide-toggle>
                </mat-card-subtitle>
              </mat-card-header>
              <ng-template [ngIf]="size3Available" [ngIfElse]="disabledMatContent">
                <mat-card-content>
                  <mat-form-field class="inventory-input">
                    <mat-label>Inventory Quantity</mat-label>
                    <input matInput type="number" disabled formControlName="size3_quantity" placeholder="Ex. 100">
                  </mat-form-field>
                  <mat-form-field class="inventory-input">
                    <mat-label>Product Weight</mat-label>
                    <input matInput formControlName="size3_weight" placeholder="Ex.50">
                  </mat-form-field>
                  <ng-template [ngIf]="priceVariesBoolean" [ngIfElse]="noVariesnew">
                    <mat-form-field class="inventory-input">
                      <mat-label>Product Price</mat-label>
                      <input matInput formControlName="size3_price" placeholder="Ex.550">
                    </mat-form-field>
                  </ng-template>

                </mat-card-content>
              </ng-template>
            </mat-card>
          </div>

        </div>
        <br><br>
        <div class="row">
          <div class="col-md-4">

            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Size - XL</mat-card-title>
                <mat-card-subtitle>

                  <mat-checkbox formControlName="size4_available" [(ngModel)]="size4Available">Size XL Available
                  </mat-checkbox>
                  <br>
                  <mat-slide-toggle formControlName="size4_stock_available" [checked]="size4Available"> Stock Available
                  </mat-slide-toggle>
                </mat-card-subtitle>
              </mat-card-header>
              <ng-template [ngIf]="size4Available" [ngIfElse]="disabledMatContent">
                <mat-card-content>
                  <mat-form-field class="inventory-input">
                    <mat-label>Inventory Quantity</mat-label>
                    <input matInput type="number" disabled formControlName="size4_quantity" placeholder="Ex. 100">
                  </mat-form-field>
                  <mat-form-field class="inventory-input">
                    <mat-label>Product Weight</mat-label>
                    <input matInput formControlName="size4_weight" placeholder="Ex.50">
                  </mat-form-field>
                  <ng-template [ngIf]="priceVariesBoolean" [ngIfElse]="noVariesnew">
                    <mat-form-field class="inventory-input">
                      <mat-label>Product Price</mat-label>
                      <input matInput formControlName="size4_price" placeholder="Ex.550">
                    </mat-form-field>
                  </ng-template>

                </mat-card-content>
              </ng-template>
            </mat-card>
          </div>
          <div class="col-md-4">

            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Size - XXL</mat-card-title>
                <mat-card-subtitle>

                  <mat-checkbox formControlName="size5_available" [(ngModel)]="size5Available">Size XXL Available
                  </mat-checkbox>
                  <br>
                  <mat-slide-toggle formControlName="size5_stock_available" [checked]="size5Available"> Stock Available
                  </mat-slide-toggle>
                </mat-card-subtitle>
              </mat-card-header>
              <ng-template [ngIf]="size5Available" [ngIfElse]="disabledMatContent">
                <mat-card-content>
                  <mat-form-field class="inventory-input">
                    <mat-label>Inventory Quantity</mat-label>
                    <input matInput type="number" disabled formControlName="size5_quantity" placeholder="Ex. 100">
                  </mat-form-field>
                  <mat-form-field class="inventory-input">
                    <mat-label>Product Weight</mat-label>
                    <input matInput formControlName="size5_weight" placeholder="Ex.50">
                  </mat-form-field>
                  <ng-template [ngIf]="priceVariesBoolean" [ngIfElse]="noVariesnew">
                    <mat-form-field class="inventory-input">
                      <mat-label>Product Price</mat-label>
                      <input matInput formControlName="size5_price" placeholder="Ex.550">
                    </mat-form-field>
                  </ng-template>

                </mat-card-content>
              </ng-template>
            </mat-card>
          </div>
        </div>
      </ng-template>




      <!--Size-->
      <ng-template [ngIf]="stationariesCheck">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="uppercase">Select Varient Size</h2>
          </div>

          <div class="col-md-4">

            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Size - A2</mat-card-title>
                <mat-card-subtitle>

                  <mat-checkbox formControlName="size1_available" [(ngModel)]="size1Available">Size A2 Available
                  </mat-checkbox>
                  <br>
                  <mat-slide-toggle formControlName="size1_stock_available" [checked]="size1Available"> Stock Available
                  </mat-slide-toggle>
                </mat-card-subtitle>
              </mat-card-header>
              <ng-template [ngIf]="size1Available" [ngIfElse]="disabledMatContent">
                <mat-card-content>
                  <mat-form-field class="inventory-input">
                    <mat-label>Inventory Quantity</mat-label>
                    <input matInput type="number" disabled formControlName="size1_quantity" placeholder="Ex. 100">
                  </mat-form-field>
                  <mat-form-field class="inventory-input">
                    <mat-label>Product Weight</mat-label>
                    <input matInput formControlName="size1_weight" placeholder="Ex.50">
                  </mat-form-field>
                  <ng-template [ngIf]="priceVariesBoolean" [ngIfElse]="noVariesnew">
                    <mat-form-field class="inventory-input">
                      <mat-label>Product Price</mat-label>
                      <input matInput formControlName="size1_price" placeholder="Ex.550">
                    </mat-form-field>
                  </ng-template>

                </mat-card-content>
              </ng-template>
            </mat-card>
          </div>



          <div class="col-md-4 margin-bottom">

            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Size - A3</mat-card-title>
                <mat-card-subtitle>

                  <mat-checkbox formControlName="size2_available" [(ngModel)]="size2Available">Size A3 Available
                  </mat-checkbox>
                  <br>
                  <mat-slide-toggle formControlName="size2_stock_available" [checked]="size2Available"> Stock Available
                  </mat-slide-toggle>
                </mat-card-subtitle>
              </mat-card-header>
              <ng-template [ngIf]="size2Available" [ngIfElse]="disabledMatContent">
                <mat-card-content>
                  <mat-form-field class="inventory-input">
                    <mat-label>Inventory Quantity</mat-label>
                    <input matInput type="number" disabled formControlName="size2_quantity" placeholder="Ex. 100">
                  </mat-form-field>
                  <mat-form-field class="inventory-input">
                    <mat-label>Product Weight</mat-label>
                    <input matInput formControlName="size2_weight" placeholder="Ex.50">
                  </mat-form-field>
                  <ng-template [ngIf]="priceVariesBoolean" [ngIfElse]="noVariesnew">
                    <mat-form-field class="inventory-input">
                      <mat-label>Product Price</mat-label>
                      <input matInput formControlName="size2_price" placeholder="Ex.550">
                    </mat-form-field>
                  </ng-template>

                </mat-card-content>
              </ng-template>
            </mat-card>
          </div>

          <div class="col-md-4">

            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Size - A5</mat-card-title>
                <mat-card-subtitle>

                  <mat-checkbox formControlName="size3_available" [(ngModel)]="size3Available">Size A5 Available
                  </mat-checkbox>
                  <br>
                  <mat-slide-toggle formControlName="size3_stock_available" [checked]="size3Available"> Stock Available
                  </mat-slide-toggle>
                </mat-card-subtitle>
              </mat-card-header>
              <ng-template [ngIf]="size3Available" [ngIfElse]="disabledMatContent">
                <mat-card-content>
                  <mat-form-field class="inventory-input">
                    <mat-label>Inventory Quantity</mat-label>
                    <input matInput type="number" disabled formControlName="size3_quantity" placeholder="Ex. 100">
                  </mat-form-field>
                  <mat-form-field class="inventory-input">
                    <mat-label>Product Weight</mat-label>
                    <input matInput formControlName="size3_weight" placeholder="Ex.50">
                  </mat-form-field>
                  <ng-template [ngIf]="priceVariesBoolean" [ngIfElse]="noVariesnew">
                    <mat-form-field class="inventory-input">
                      <mat-label>Product Price</mat-label>
                      <input matInput formControlName="size3_price" placeholder="Ex.550">
                    </mat-form-field>
                  </ng-template>

                </mat-card-content>
              </ng-template>
            </mat-card>
          </div>

        </div>
      </ng-template>
      <!--Size-->
      <ng-template [ngIf]="accessoriesCheck">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="uppercase">Select Varient Size</h2>
          </div>

          <div class="col-md-4">

            <mat-card class="example-card">
              <mat-card-header>

                <mat-card-title>Default Size</mat-card-title>
                <mat-card-subtitle>

                  <!-- <mat-checkbox formControlName="size1_available" [(ngModel)]="size1Available">Size S Available
                  </mat-checkbox>
                  <br>
                  <mat-slide-toggle formControlName="size1_stock_available" [checked]="size1Available"> Stock Available
                  </mat-slide-toggle> -->
                </mat-card-subtitle>
              </mat-card-header>
              <!-- <ng-template [ngIf]="size1Available" [ngIfElse]="disabledMatContent"> -->
              <mat-card-content>
                <mat-form-field class="inventory-input">
                  <mat-label>Inventory Quantity</mat-label>
                  <input matInput type="number" disabled formControlName="size1_quantity" placeholder="Ex. 100">
                </mat-form-field>
                <mat-form-field class="inventory-input">
                  <mat-label>Product Weight</mat-label>
                  <input matInput formControlName="size1_weight" placeholder="Ex.50">
                </mat-form-field>
                <ng-template [ngIf]="priceVariesBoolean" [ngIfElse]="noVariesnew">
                  <mat-form-field class="inventory-input">
                    <mat-label>Product Price</mat-label>
                    <input matInput formControlName="size1_price" placeholder="Ex.550">
                  </mat-form-field>
                </ng-template>

              </mat-card-content>
              <!-- </ng-template> -->
            </mat-card>
          </div>

        </div>

      </ng-template>


      <br><br>
      <!-- <mat-form-field class="inventory-input">
        <mat-label>Image File</mat-label> -->
      <label class="lable-text" for="phone">image upload</label>
      <input type="file" (change)="onFileChange($event)">
      <!-- </mat-form-field> -->
      <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger"> -->
      <!-- <div *ngIf="f.file.errors.required">File is required.</div> -->
      <!-- <div class="col-md-12">
        <div class="text-box padding-4 white">
          <div *ngFor='let url of images'>
            <img [src]="url" height="150" width="200px">&nbsp;
            <button (click)="removeImage(url)">delete</button>
          </div>
          <button (click)="uploadImageToServer()">Upload image</button>
        </div>
      </div> -->
      <br>
      <div class="row">
        <ng-template ngFor [ngForOf]="images" let-url>
          <div class="col-md-2">
            <mat-card class="example-card">
              <mat-card-content>
                <img mat-card-image [src]="url" height="150" width="200px">
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="warn" (click)="removeImage(url)">Delete</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </ng-template>
      </div>

      <br><br>

      <button mat-raised-button color="primary" (click)="uploadImageToServer()">Upload image</button>
      <!-- <button (click)="uploadImageToServer()">Upload image</button> -->
      <div class="row">
        <br />

        <div class="col-md-12 text-center">
          <ng-template [ngIf]="imageResponse !== undefined && imageResponse.length>0" [ngIfElse]="invalidForm">
            <button mat-raised-button color="primary" type="submit" (click)="saveProduct()">submit</button>
          </ng-template>
          <ng-template #invalidForm>
            <button mat-raised-button color="warn" type="submit">submit</button>
          </ng-template>
          <!-- <button class="btn btn-dark btn-medium uppercase" type="submit">
            <i class="fa fa-paper-plane"></i>
            Submit
          </button> -->

        </div>
      </div>
    </div>
  </form>

  <ng-template #noVariesnew>
    <label style="color: crimson;">Price does not varies</label>
  </ng-template>

  <ng-template #disabledMatContent>
    <mat-card-content>
      <mat-form-field class="inventory-input">
        <mat-label>Inventory Quantity</mat-label>
        <input matInput type="number" disabled placeholder="Ex. 100">
      </mat-form-field>
      <mat-form-field class="inventory-input">
        <mat-label>Product Weight</mat-label>
        <input matInput type="number" disabled formControlName="size1_weight" placeholder="Ex.50">
      </mat-form-field>
      <ng-template [ngIf]="priceVariesBoolean" [ngIfElse]="noVariesnew">
        <mat-form-field class="inventory-input">
          <mat-label>Product Price</mat-label>
          <input matInput type="number" type="number" disabled placeholder="Ex.550">
        </mat-form-field>
      </ng-template>

    </mat-card-content>
  </ng-template>
  <!-- end row -->
</div>
<!--end form body-->

<div class="clearfix"></div>