<div class="container">

  <div class="col-md-12 text-center">
    <h4 class="uppercase">Upload Products Here</h4>
  </div>
  <div class="clearfix"></div>
  <br /> <br />
  <!--  -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-body bg-light">


      <!--Category Dropdown-->
      <div class="row center">
        <div class="col-md-6">
          <label class="lable-text" for="phone">Select Category</label>
          <div class="select-box-2" Required>
            <select (click)="getCategory($event.target.value)">
              <option value='Stationaries'>Stationaries</option>
              <option value='Accessories'>Accessories</option>
              <option value='Collections'>Collections</option>
            </select>
          </div>
        </div>
      </div>
      <!-- end row -->
      <br>
      <!--Sub category-->

      <div class="row center">
        <div class="col-md-6">
          <label class="lable-text" for="phone">Select Subcategory</label>
          <div class="select-box-2">
            <select formControlName="subCategoryName" (click)="getSubCategory($event.target.value)"
              class="form-control">
              <option value='Hollywood'>Hollywood</option>
              <option value="Kollywood">Kollywood</option>
              <option value="love">Love</option>
            </select>
          </div>
        </div>
      </div>
      <br>
      <!--Product Name-->
      <div class="row center">
        <div class="col-md-6">
          <label class="lable-text" for="name">Product Name</label>
          <input id="name" formControlName="productTitle" [(ngModel)]="title" class="form-control" type="text"
            placeholder="Enter Product Name">
          <br />
        </div>
      </div>
      <!--Product description-->

      <div class="row">
        <div class="col-md-6">
          <label class="lable-text" for="message">Product Description</label>
          <textarea id="comment" formControlName="description" class="form-control" placeholder="Enter your message"
            name="message"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label class="lable-text" for="name" style="align-items: center;">Price Varies</label>
          <label class="switch">
            <input type="checkbox" formControlName="priceVaries" (click)="priceVariesCheck($event.target.checked)"
              class="form-control" [checked]="priceVariesBoolean">
            <span class="slider round"></span>
          </label>{{priceVariesBoolean}}
        </div>
        <div class="col-md-6">
          <label class="lable-text" for="name" style="align-items: center;">Compare Price</label>
          <label class="switch">
            <input type="checkbox" formControlName="compareAtPriceVaries" class="form-control"
              [checked]="compareAtPriceCheck" (click)="compareAtPriceVaries($event.target.checked)">
            <span class="slider round"></span>
          </label>{{getcompareAtPriceVaries()}}
        </div>
      </div>
      <!--Price and Discount-->
      <div class="row">
        <div class="col-md-6">
          <label class="lable-text" for="name">Product Price</label>
          <input id="Price" class="input-1" formControlName="price" type="number" placeholder="Enter product Price"
            name="Price">
          <br />
        </div>

        <div class="col-md-6">
          <label class="lable-text" for="name">Product Discount</label>
          <input id="Price" class="input-1" type="number" formControlName="compareAtPriceMin"
            placeholder="Enter product discount" name="Discount">
          <br />
        </div>
      </div>


      <!--Product Brand-->


      <!--Tags-->
      <div class="row">
        <div class="col-md-6">
          <label class="lable-text" for="name">Product Tags</label>
          <input id="Tag" class="input-1" type="text" formControlName="tags" placeholder="Enter product Tags"
            name="Tags">
          <br />
        </div>

      </div>
      <!--Quantity-->

      <div class="row">
        <div class="col-md-6">
          <label class="lable-text" for="color">Product Quantity</label>
          <input id="Quantity" class="input-1" type="number" placeholder="Enter product Quantity" name="quantity">
          <br />
        </div>
      </div>
      <br>
      <!--color-->
      <div class="row">
        <div class="col-md-3">
          <label class="lable-text" for="color">Select Product color</label>
          <input id="color" class="input-1" type="color" formControlName="color" placeholder="Enter product color"
            name="color">
          <br />
        </div>
      </div>
      <hr>
      <!--Size-->
      <div class="row">
        &nbsp;&nbsp;&nbsp;<label class="lable-text" for="color" style="text-align: center;">Select Varient
          Size</label>
        <div class="col-md-5">

          <br>
          &nbsp;<label class="lable-text">Size - S</label>
          <input type="hidden" formControlName="size1_name" value="S">
          <label class="switch">
            <input type="checkbox" formControlName="size1_available" (click)="priceVariesCheck($event.target.checked)"
              class="form-control" [checked]="true ">
            <span class="slider round"></span>
          </label><br>
          <div class="col-md-6">

            <label class="lable-text" for="color">Inventory Quantity</label>
            <input id="Quantity" class="input-1" formControlName="size1_quantity" type="number"
              placeholder="Enter product Quantity" name="quantity">

          </div>
          <div class="col-md-6">
            <label class="lable-text" for="color">Product Weight</label>
            <input id="Quantity" class="input-1" type="number" formControlName="size1_weight"
              placeholder="Enter product Weight" name="quantity">
          </div>

          <div class="col-md-6">
            <!-- <ng-template [ngIf]="priceVariesBoolean" [ngIfElse]="noVaries"> -->
            <label class="lable-text" for="color">Price</label>
            <input id="Quantity" class="input-1" formControlName="size1_price" type="number"
              formControlName="size1_price" placeholder="Enter product Price" name="quantity">
            <!-- </ng-template>
            <ng-template #noVaries>
              <label class="lable-text" for="color">Price dous not varies</label>
            </ng-template> -->
          </div>

          <hr>
          <br>


        </div>
      </div>
      <div class="row">
        <div class="col-md-5">

          <br>
          &nbsp;<label class="lable-text">Size - M</label><br>
          <div class="col-md-6">
            <label class="lable-text" for="color">Inventory Quantity</label>
            <input id="Quantity" class="input-1" type="number" placeholder="Enter product Quantity" name="quantity">

          </div>
          <div class="col-md-6">
            <label class="lable-text" for="color">Product Weight</label>
            <input id="Quantity" class="input-1" type="number" placeholder="Enter product Weight" name="quantity">
          </div>

          <div class="col-md-6">
            <ng-template [ngIf]="priceVariesBoolean" [ngIfElse]="noVaries">
              <label class="lable-text" for="color">Price</label>
              <input id="Quantity" class="input-1" type="number" placeholder="Enter product Price" name="quantity">
            </ng-template>
            <ng-template #noVaries>
              <label class="lable-text" for="color">Price dous not varies</label>
            </ng-template>
          </div>
          <br>


        </div>
      </div>





      <div class="form-group">
        <label for="file">File</label>
        <input formControlName="file" id="file" type="file" class="form-control" multiple=""
          (change)="onFileChange($event)">
        <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger"> -->
        <!-- <div *ngIf="f.file.errors.required">File is required.</div> -->
      </div>
    </div>

    <div *ngFor='let url of images'>
      <img [src]="url" height="150" width="200px" style="margin: 3px;"><br>
      <button (click)="removeImage(url)">delete</button>
    </div>
    <button (click)="uploadImageToServer()">Upload image</button>

    <div class="row">
      <br />
      <div class="col-md-12 text-center">
        <button class="btn btn-dark btn-medium uppercase" type="submit">
          <!-- <i class="fa fa-paper-plane"></i> -->
          Submit
        </button>

      </div>
    </div>
  </form>


  <!-- end row -->
</div>
<!--end form body-->

<div class="clearfix"></div>

<!--Form for Stationary-->

<!-- <div class="row">
        <div class="col-md-3">
          <label class="lable-text" for="color">Select Product color</label>
          <input id="color" class="input-1" type="color" placeholder="Enter product color" name="color">
          <br />
        </div>
        <br />
        
<div class="col-md-5">

</div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="lable-text" for="phone">Select Sticker Dimensions</label>
    <div class="select-box-2" Required>
      <select>
        <option value=''>Sticker Dimensions</option>
        <option value='1'>5*5</option>
        <option value='2'>8*8</option>
        <option value='3'>2*2</option>
      </select>
    </div>
  </div>

  <div class="col-md-6">
    <label class="lable-text" for="name">Product Price</label>
    <input id="Price" class="input-1" type="number" placeholder="Enter product Price" name="Price">
    <br />
  </div>

</div>
<div class="row">
  <div class="col-md-6">
    <label class="lable-text" for="phone">Select Sticker Dimensions</label>
    <div class="select-box-2" Required>
      <select>
        <option value=''>Sticker Dimensions</option>
        <option value='1'>5*5</option>
        <option value='2'>8*8</option>
        <option value='3'>2*2</option>
      </select>
    </div>
  </div>


</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">

      <input id="file-2" type="file" multiple class="file" data-upload-url="#" data-overwrite-initial="false"
        data-min-file-count="3" (change)="uploadFile($event)">
    </div>

  </div>
</div>


<div class="row">
  <br />
  <div class="col-md-12 text-center">
    <button class="btn btn-dark btn-medium uppercase" type="submit">
      <i class="fa fa-paper-plane"></i>
      Submit
    </button>

  </div>
</div>




<div class="row">
  <div class="col-md-3">
    <label class="lable-text" for="color">Select Product color</label>
    <input id="color" class="input-1" type="color" placeholder="Enter product color" name="color">
    <br />
  </div>
  <br />
  <div class="col-md-5">

  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="lable-text" for="phone">Select Frame size</label>
    <div class="select-box-2" Required>
      <select>
        <option value=''>Frame sizes</option>
        <option value='1'>A3</option>
        <option value='2'>A4</option>
        <option value='3'>A5</option>
      </select>
    </div>
  </div>

  <div class="col-md-6">
    <label class="lable-text" for="name">Product Price</label>
    <input id="Price" class="input-1" type="number" placeholder="Enter product Price" name="Price">
    <br />
  </div>

</div>
<div class="row center">
  <div class="col-md-6">
    <label class="lable-text" for="name">Mobile Name</label>
    <input id="mobile" class="input-1" type="text" placeholder="Enter Mobile Name" formControlName="name">
    <br />
  </div>
</div>





<div class="row">
  <div class="col-md-12">
    <div class="form-group">

      <input id="file-2" type="file" multiple class="file" data-upload-url="#" data-overwrite-initial="false"
        data-min-file-count="3" (change)="uploadFile($event)">
    </div>

  </div>
</div>


<div class="row">
  <br />
  <div class="col-md-12 text-center">
    <button class="btn btn-dark btn-medium uppercase" type="submit">
      <i class="fa fa-paper-plane"></i>
      Submit
    </button>

  </div>

</div>

</form> -->