
<section class="section-side-image clearfix">
    <section class="sec-padding">
      <div class="container">
      <div class="row">
      
      <div class="col-md-12 nopadding">
      
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="sp-feature-box-3 margin-bottom">
          <div class="img-box"> <a routerLink = "/ProductPreview" class="view-btn uppercase"  >View</a>
            <div class="badge">Hot</div>
            <img src="assets/images/sp-23.jpg" alt="" class="img-responsive"/> </div>
          <div class="clearfix"></div>
          <br/>
          <h4 class="less-mar-1">Men's Formal</h4>
          <p>Lorem ipsum dolor sit amet</p>
          <h5 class="text-primary">$ 25.00–$ 29.00</h5>
          <br/>
          <a class="btn btn-border light btn-small" href="#">Add to cart</a> </div>
      </div>
      <!--end item-->
              
                <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="sp-feature-box-3 margin-bottom">
                  <div class="img-box"> <a routerLink="/ProductPeview" class="view-btn uppercase">View</a>
                    <div class="badge">Hot</div>
                    <img src="assets/images/sp-24.jpg" alt="" class="img-responsive"/> </div>
                  <div class="clearfix"></div>
                  <br/>
                  <h4 class="less-mar-1">Men's Casual</h4>
                  <p>Lorem ipsum dolor sit amet</p>
                  <h5 class="text-primary">$ 25.00–$ 29.00</h5>
                  <br/>
                  <a class="btn btn-border light btn-small" href="#">Add to cart</a> </div>
              </div>
              <!--end item-->
    
    
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="sp-feature-box-3 margin-bottom">
                  <div class="img-box"> <a routerLink = "/ProductPreview" class="view-btn uppercase">View</a> <img src="assets/images/sp-25.jpg" alt="" class="img-responsive"/> </div>
                  <div class="clearfix"></div>
                  <br/>
                  <h4 class="less-mar-1">Leather Bag</h4>
                  <p>Lorem ipsum dolor sit amet</p>
                  <h5 class="text-primary">$ 25.00–$ 29.00</h5>
                  <br/>
                  <a class="btn btn-border light btn-small" href="#">Add to cart</a> </div>
              </div>
              <!--end item-->
    
    
            <div class="clearfix"></div>
            <div class="col-divider-margin-4"></div>
            
                      
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="sp-feature-box-3 margin-bottom">
                  <div class="img-box"> <a routerLink = "/ProductPreview" class="view-btn uppercase">View</a>
                    <div class="badge">New</div>
                    <img src="assets/images/sp-26.jpg" alt="" class="img-responsive"/> </div>
                  <div class="clearfix"></div>
                  <br/>
                  <h4 class="less-mar-1">Winter Coat</h4>
                  <p>Lorem ipsum dolor sit amet</p>
                  <h5 class="text-primary">$ 25.00–$ 29.00</h5>
                  <br/>
                  <a class="btn btn-border light btn-small" href="#">Add to cart</a> </div>
              </div>
              <!--end item-->
              
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="sp-feature-box-3 margin-bottom">
                  <div class="img-box"> <a routerLink = "/ProductPreview" class="view-btn uppercase">View</a>
                    <img src="assets/images/sp-27.jpg" alt="" class="img-responsive"/> </div>
                  <div class="clearfix"></div>
                  <br/>
                  <h4 class="less-mar-1">Leather Shoe</h4>
                  <p>Lorem ipsum dolor sit amet</p>
                  <h5 class="text-primary">$ 25.00–$ 29.00</h5>
                  <br/>
                  <a class="btn btn-border light btn-small" href="#">Add to cart</a> </div>
              </div>
              <!--end item-->
              
              
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="sp-feature-box-3 margin-bottom">
                  <div class="img-box"> <a routerLink = "/ProductPreview" class="view-btn uppercase">View</a>
                    <div class="badge">New</div>
                    <img src="assets/images/sp-28.jpg" alt="" class="img-responsive"/> </div>
                  <div class="clearfix"></div>
                  <br/>
                  <h4 class="less-mar-1">Casual Shoes</h4>
                  <p>Lorem ipsum dolor sit amet</p>
                  <h5 class="text-primary">$ 25.00–$ 29.00</h5>
                  <br/>
                  <a class="btn btn-border light btn-small" href="#">Add to cart</a> </div>
              </div>
              <!--end item-->
    
      </div>
      <!--end column -->
      
    
      
      </div>
      </div>
      </section>
    <div class="clearfix"></div>
      <!-- end section -->
      
    
    
  </section>
  <div class="sec-padding section-dark">
    <div class="container">
      <app-footer></app-footer>
    </div>
</div>

<section class="sec-padding-6">
  <div class="container">
    <!--Copyright content-->


</div> 

</section>


