
<i>No of products found {{products.length}}</i>
<section class="section-side-image clearfix">
    <section class="sec-padding">
      <div class="container">
      <ng-template [ngIf]="products.length>0"[ngIfElse]="noProduct">
      
      <div class="col-md-12">
      <div *ngFor="let product of products">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="sp-feature-box-3 margin-bottom">
          <div class="img-box"> <a routerLink="product/view/{{product.id}}" class="view-btn uppercase">View</a>
            <div class="badge">Hot</div>
			<!-- <div class="carousel-inner">
			 <div class="item" *ngFor="let image of product.images">-->
            <img src='{{product.images[0]}}' alt="" class="img-responsive"/> 
			<!--</div>
			</div>-->
		</div>  
          <div class="clearfix"></div>
          <br/>
          <h4 class="less-mar-1">{{product.name}}</h4>
          <p>{{product.description}}</p>
          <h5 class="text-primary">$ {{product.price}}</h5>
          <br/>
          <a class="btn btn-border light btn-small" href="">Add to cart</a> </div>
        
         
      </div>
      </div>
      </div>
      
      
    
      </ng-template>
      <ng-template #noProduct>
        <br><br>Ther is no product 
      </ng-template>
      </div>
      </section>
    <div class="clearfix"></div>
      <!-- end section -->
      
    
    
  </section>
  

  <div style="text-align:center">
    <h4>
      Basic Pagination
    </h4>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collection.data | paginate: config">
          <th scope="row">{{item.id}}</th>
          <td>{{item.value}}</td>
        </tr>
      </tbody>
    </table>
    

    <pagination-controls 
                         [maxSize]="maxSize"
                         [directionLinks]="directionLinks"
                         [autoHide]="autoHide"
                         [responsive]="responsive"
                         [previousLabel]="labels.previousLabel"
                         [nextLabel]="labels.nextLabel"
                         [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                         [screenReaderPageLabel]="labels.screenReaderPageLabel"
                         [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                         (pageChange)="onPageChange($event)"></pagination-controls>

  
  </div>
  


