
<i>No of products found {{products.length}}</i>
<section class="section-side-image clearfix">
    <section class="sec-padding">
      <div class="container">
      <ng-template [ngIf]="products.length>0"[ngIfElse]="noProduct">
      
      <div class="col-md-12">
      <div  *ngFor="let product of products | paginate: config" >
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="sp-feature-box-3 margin-bottom">
          <div class="img-box"> <a routerLink="product/view/{{product.id}}" class="view-btn uppercase">View</a>
            <div class="badge">Hot</div>
			<!-- <div class="carousel-inner">
			 <div class="item" *ngFor="let image of product.images">-->
            <img src='{{product.images[0]}}' alt="" class="img-responsive"/> 
			<!--</div>
			</div>-->
		</div>  
          <div class="clearfix"></div>
          <br/>
          <h4 class="less-mar-1">{{product.name}}</h4>
          <p>{{product.description}}</p>
          
          <br/>
          <form class="form">
            <label class="uppercase">Size: </label>
            <div class="switch-field">
              <ng-template ngFor let-property [ngForOf]="sizeCalculation(product.properties)" let-i="index">
                <input type="radio" id="{{product.name}}{{i}}"  value="{{property.size}}" name="switch-two" />
                <label for="{{product.name}}{{i}}" (click)="product.description=onSizeChange($event.target.value)">{{property.size}}</label>&nbsp; 
               </ng-template>
              <h5 class="text-primary">$ {{product.price}}</h5>
            </div>
          </form> 
          <form class="form">
            <label class="uppercase">Size: </label>
            <div class="switch-field">
                <input type="radio" id="1"  value="S"name="switch-two" (change)="product.description=onSizeChange($event.target.value)"/>
                <label for="1">S</label>&nbsp; 
                <input type="radio" id="2" name="switch-two" value="M" (change)="product.description=onSizeChange($event.target.value)"/>
                <label for="2">M</label>&nbsp; 
                <input type="radio" id="3" name="switch-two" value="L" (change)="onSizeChange($event.target.value)"/>
                <label for="3">L</label>&nbsp;
                <input type="radio" id="4" name="switch-two" value="XL" (change)="onSizeChange($event.target.value)"/>
                <label for="4">XL</label>&nbsp;
                <input type="radio" id="5" name="switch-two" value="XLL" (change)="onSizeChange($event.target.value)"/>
                <label for="5">XXL</label>
            </div>
          
            
          
           
          </form>
          {{product.description}}
          <label class="uppercase">Quantity :</label>
          <br>
          <div class="btn btn-border btn-tiny xround-7">
           <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
           <input type="text" class="product" value="1"  (change)="onQuantityChange($event.target.value)"/>
           <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
         </div>
       
          <a class="btn btn-border light btn-small" href="">Add to cart</a> </div>
        
         
      </div>
      </div>
      </div>
      
      
    
      </ng-template>
      <ng-template #noProduct>
        <br><br>Ther is no product 
      </ng-template>
      </div>
      </section>
    <div class="clearfix"></div>
      <!-- end section -->
      
    
    
  </section>
  

  <!--<div style="text-align:center">
    <h4>
      Basic Pagination
    </h4>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collection.data | paginate: config">
          <th scope="row">{{item.id}}</th>
          <td>{{item.value}}</td>
        </tr>
      </tbody>
    </table>--> 
    

    <pagination-controls 
                         [maxSize]="maxSize"
                         [directionLinks]="directionLinks"
                         [autoHide]="autoHide"
                         [responsive]="responsive"
                         [previousLabel]="labels.previousLabel"
                         [nextLabel]="labels.nextLabel"
                         [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                         [screenReaderPageLabel]="labels.screenReaderPageLabel"
                         [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                         (pageChange)="onPageChange($event)"></pagination-controls>

  
  


