.d-block w-100 {

    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
  }
  .carousel-inner{
    width:100%;
    max-height: 600px !important;
  }

 