<section class="sec-padding section-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="uppercase">Our Stories!</h2>
          <div class="title-line-5 dark"></div>
        </div>
        <div class="clearfix"></div>
        <br/>
        <br/>
        <div class="col-md-4">
          <div class="video-holder [vimeo, widescreen]">
            <iframe width="320" height="315" src="https://www.youtube.com/embed/uQ4rQKpcQ60" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <!--end item--> 
        <div class="col-md-4">
            <div class="video-holder [vimeo, widescreen]">
              <iframe width="320" height="315" src="https://www.youtube.com/embed/uQ4rQKpcQ60" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-md-4">
            <div class="video-holder [vimeo, widescreen]">
              <iframe width="320" height="315" src="https://www.youtube.com/embed/uQ4rQKpcQ60" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
         
          
      </div>
       
      <br>
      <br>
      <div class="col-md-12">
        <div class="video-holder [vimeo, widescreen]">
          <iframe width="950" height="515" src="https://www.youtube.com/embed/uQ4rQKpcQ60" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
