<style>

h4.less-mar-1 {
    margin-bottom: 5px;
    
}
.font-weight-7 {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase;
}
.h1, .h2, .h3, h1, h2, h3, h4 {
    margin-top: 0;
}

.text-center {
    text-align: center;
}

.title-line-3 {
    background-color: #fce206;
    height: 2px;
    margin: 0 auto 20px;
    width: 50px;

    
}


</style>









<section class="sec-tpadding-2">
    <div class="container">
    <div class="row">  
    <div class="col-xs-12 nopadding">
              <div class="sec-title-container less-padding-3 text-center">
               
                <h2 class="uppercase font-weight-7 less-mar-1">Accounts</h2>
                <div class="title-line-3"></div>
                <div class="clearfix"></div>
                <p class="by-sub-title">Join with us to get better experience  </p>
                                                                        
                  </div>
              
            <div class="clearfix"></div>
            <!--end title-->
            
            
      <!--end item-->
      </div>
    </div>
    </div>
    <hr>
</section>

<div class="container">
    <div class="row">
    <div class="col-md-12 offset-md-3 mt-5">

<router-outlet></router-outlet>
</div>
    </div>

</div>      


