
<style>

.btn.border.border-xdark {
    color: #000;
    border-color: #000;
}

.btn.border {
    border: 1px solid;
}
.btn.btn-medium {
    font-size: 16px;
    padding: 15px 35px;
}
.btn.xround-7 {
    border-radius: 70px;
}

.btn.btn-medium {
    padding: 10px 30px;
}

.btn.btn-cyan {
    background-color: #01bf9d;
    color: #fff;
}
.uppercase {
    text-transform: uppercase;
}
.form-group label em {
    color: #f50606;
    font-size: 12px;
    font-style: normal;
}

.btn.btn-anim-3 {
    overflow: hidden;
    position: relative;
}

.btn.xround-6 {
    border-radius: 60px;
}

.btn.btn-medium {
    font-size: 16px;
    padding: 15px 35px;
}
.btn.btn-anim-3 i {
    position: absolute;
    display: block;
    line-height: 53px;
    margin: 0;
    text-align: center;
    top: 40px;
    font-style: normal;
    transition: all 0.3s ease-out 0s;
}

.btn.btn-anim-3 span {
    position: relative;
    display: inline-block;
    top: 0px;
    transition: all 0.3s ease-out 0s;
}
</style>








<div class="row">

    <div class="col-md-6">
        <h2 class="card-header">New Customer?</h2>
        <h4>Look Like you're New here</h4>
        <p>SignUp with us to get Best Experience</p>
        <a routerLink="../register" class= "btn btn-medium btn-cyan btn-anim-3 uppercase xround-6" style="align-content: center">
           <span>Register</span> 
           <i>Register</i>
        </a>
    </div>
        





    <div class="col-md-6">

<div class="card">
    <h2 class="card-header">Login</h2>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username <em>*</em></label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div> 
            <div class="form-group">
                <label for="password">Password <em>*</em></label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <a  data-toggle="modal" data-target="#modal-switch">Forgot your password?</a>
                
            
            <br>
            <br>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-cyan btn-anim-3 uppercase xround-7">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <a routerLink="../home" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
</div>
<!-- nav -->

<!--Modal Popup for forgot password-->
<div id="modal-switch" tabindex="-1" role="dialog" aria-labelledby="modal-switch-label" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <div id="modal-switch-label" class="modal-title"><h4>Forgot your password?</h4></div>
        </div>
        <div class="modal-body">
        <img src="assets/images/33.html" alt="" class="img-responsive"/>
         
            <div class="card">
                <h2 class="card-header"></h2>
                <div class="card-body">
                    <div class="clearfix"></div>
                       <div>
                        <label class="label">E-mail <em>*</em>
                
                            <input type="email" name="email" id="email">
                        </label>
                        </div>

                        <div class="form">
                            <button class="btn btn-cyan btn-anim-3 uppercase xround-7" style="align-items: center;">
                            
                                Submit
                            </button>
                        </div>
                     
                     
            
            </div>
            </div>     
        
        
    
        </div>
      </div>
    </div>
  </div>



</div>


