<style>

/* .btn.border.border-xdark {
    color: #000;
    border-color: #000;
}

.btn.border {
    border: 1px solid;
}
.btn.btn-medium {
    font-size: 16px;
    padding: 15px 35px;
}
.btn.xround-7 {
    border-radius: 70px;
}

.btn.btn-medium {
    padding: 10px 30px;
}

.btn.btn-cyan {
    background-color: #01bf9d;
    color: #fff;
}
.uppercase {
    text-transform: uppercase;
} */

.invalid-feedback{
color: #f50606;

}

em {
    color: #f50606;
    font-size: 12px;
    font-style: normal;
}



</style>
<div class="col-md-6">

<div class="card">
    <h2 class="card-header">New Customer?</h2>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">First Name <em>*</em></label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name </label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="form-group">     
                <label for="username">Username</label>
                <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                    <div *ngIf="f.userName.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email-ID <em>*</em></label>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email-Id is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="phoneNumber" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required">phoneNumber is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password <em>*</em></label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-medium btn-cyan btn-anim-3 uppercase xround-7">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Login</a>
            </div>
        </form>
    </div>
</div>

</div>